<form method="POST" action='/employees/edit/{{data.id}}'>
  <table>
  <tr>
   <th valign="top">
    <label for="title">Title:</label>
   </th>
   <td valign="top">
    <input  type="text" name="title" size="30" value="{{data.title}}">
   </td>
  </tr>
  <tr>
   <th>
    <label for="author">Author:</label>
   </th>
   <td>
    <input  type="text" name="author" size="30" value="{{data._author.name}}">
   </td>
  </tr>
  <tr>
   <th valign="top">
    <label for="category">Category:</label>
   </td>
   <td valign="top">
    <input  type="text" name="category" size="30" value="{{data.category}}">
   </td>
  </tr>
  <tr>
    <th>
      <label for="introduction">Introduction:</label>
    </th>
    <td>
      <textarea name="introduction" form="articleform" rows="3" required>{{data.introduction}}</textarea>
    </td>
  </tr>
  <tr>
    <th>
      <label for="content">Contents:</label>
    </th>
    <td>
      <textarea name="contents" form="articleform" rows="3" required>{{data.contents}}</textarea>
    </td>
  </tr>
  <tr>
    <th>
      <label for="conclusion">Content:</label>
    </th>
    <td>
      <textarea name="conclusion" form="articleform" rows="3" required>{{data.conclusion}}</textarea>
    </td>
  </tr>
  <tr>
   <td colspan="2">
    <input type="submit" width="100"/>
   </td>
  </tr>
 </table>
</form>

