<h1><b>{{data.title}}</b></h1>
<br><br>
<div class=intro>
  {{data.introduction}}
</div>
<br><br>
<div class=contents>
  {{data.contents}}
</div>
<br><br>
<div class=conclusion>
  {{data.conclusion}}
</div>
<br><br>
<div class=tags>
  <i>Category:</i> {{data.category}}
</div>
