<h1><b>{{data.title}}</b></h1>
<div class=actions>
  <a href="/articles/edit/{{data.id}}">Edit</a> |
  <a href="/articles/delete/{{data.id}}">Delete</a> |
  <a href="/articles/view/{{data.id}}/xml">Show XML</a>
<br><br>
<div class=intro>
  {{data.introduction}}
</div>
<br><br>
<div class=contents>
  {{data.contents}}
</div>
<br><br>
<div class=conclusion>
  {{data.conclusion}}
</div>
<br><br>
<div class=tags>
  <i>Category:</i> {{data.category}}
</div>
