<h1><b>{{data.name}}</b></h1>
<h3><i>{{data.email}}</i></h3>
<div class=actions>
  <a href="/authors/edit/{{data.id}}">Edit</a> |
  <a href="/authors/delete/{{data.id}}">Delete</a> |
<br><br>
<div class=intro><h4><u>Articles</u></h4>
  <!-- {{data.articles}} -->
</div>
